

:global(body) {
    margin: 0;
    font-family: var(--font-family-base);
    background-color: var(--background-light-gray);
    color: var(--text-dark);
    line-height: var(--line-height-base);
    overflow: hidden; 
}

.appContainer {
    display: grid;
    
    grid-template-areas:
        "header header"
        "sidebar main";
    grid-template-columns: 250px 1fr; 
    grid-template-rows: 80px 1fr; 
    height: 100vh;
    overflow: hidden; 
}




@media (max-width: 1024px) {
    .appContainer {
        grid-template-columns: 200px 1fr; 
        grid-template-areas: 
            "header header"
            "sidebar main";
    }
}


@media (max-width: 768px) {
    .appContainer {
        grid-template-areas:
            "header" 
            "main";   
        grid-template-columns: 1fr; 
        grid-template-rows: 60px 1fr; 
    }

    
    .appContainer > aside { 
        display: none;
    }
}


@media (max-width: 480px) {
    .appContainer {
        grid-template-rows: 50px 1fr; 
    }
}